# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry virtual environments
.venv/

# Data files (optional, if you don't want to upload large CSVs)
data/processed/
data/raw/

# IDE/editor settings
.vscode/
*.swp
